body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #284B63;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 91vh;
    flex-direction: column;
}

h1 {
    color: aliceblue;
    font-size: 2.2rem;
    text-align: center;
}

main {
    background-color: aliceblue;

    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #0000006a;
    
}

h2 {
    margin-top: 0;
}

#valorfinal, #valorinicial {
    padding: 10px;
    border: none;
    background-color: lightgray;
    border-radius: 5px;
}

#btn {
    display: block;
    margin: auto;

    padding: 15px;
    width: 40%;
    margin-top: 20px;
    border: none;
    border-radius: 5px;

    background-color: #3C6E71;
    color: aquamarine;
    font-weight: bolder;

    cursor: pointer;
    transition-duration: 0.5s;
}

#btn:hover {
    background-color: #224041;
    color: #50a287;
}

#btn:active {
    scale: calc(0.95);
}

#resultado {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #d3d3d3;
    margin-top: 10px;
    height: 10rem;
    border-radius: 10px;

    font-size: 3rem;
}