* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #685634, #8d7b4d);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header {
    color: white;
    font-size: 1.2rem;
    text-shadow: 2px 2px 5px #00000055;
}

main {
    background-color: white;
    box-shadow: 2px 2px 5px #00000055;
    border-radius: 10px;

    width: 40rem;
    padding: 10px;

    margin-top: 10px;
    margin-bottom: 10px;
}

main #ano {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;

    background-color: lightgrey;
}

main .sexo {
    margin-bottom: 10px;
}

main #button {
    padding: 10px;
    width:  100px;
    border: none;
    border-radius: 5px;

    background-color: #283618;
    color: #bfd76e;

    font-weight: bold;

    cursor: pointer;
    transition-duration: 0.5s;
}

main #button:hover {
    background-color: #bfd76e;
    color: #283618;
}

main #button:active {
    transform: scale(0.90);
}

#resultado {
    text-align: center;
    margin-top: 10px;
}

#resultado #imagem {
    display: block;
    margin: auto;
    margin-top: 10px;
}


footer {
    color: white;
    font-style: italic;
}

