* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: seagreen;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;

    width: 50%;
    height: 10rem;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #00000055;

    font-size: 2rem;
}