body {
    background-color: #2b2d42;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    color: white;
}

main {
    background-color: #EDF2F4;

    padding: 10px;
    box-shadow: 2px 2px 5px #000000ae;
    border-radius: 10px;
}

main input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

main #num {
    background-color: #8D99AE;
}

main #num::placeholder {
    color: rgba(0, 0, 0, 0.274);
}

main #btn {
    background-color: #003049;
    color: #669bbc;
    font-weight: bold;

    cursor: pointer;
    transition-duration: 0.5s;
}

main #btn:hover {
    background-color: #001f2f;
    color: #416378;
    scale: calc(1.05);
}

#select {
    margin-top: 10px;
    width: 8rem;
    height: 13.1rem;
    padding: 2px;
    border-radius: 10px 0px 0px 10px;
}

footer {
    color: white;
}