* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightskyblue;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 100vh;  
}

header {
    text-align: center;
    font-size: 1.2rem;
    color: white;
}

main {
    background-color: white;
    box-shadow: 2px 2px 5px #00000055;
    border-radius: 10px;

    margin-top: 20px;
    margin-bottom: 20px;

    width: 35rem;
    padding: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .horas {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
}

footer {
    text-align: center;
    color: white;
    font-style: italic;
}